
.app-container {
    min-height: 100vh;
    background-color: #FDB813;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .counter-card {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    width: 280px;
    height: 200px;
    text-align: center;
  }
  
  .counter-title {
    color: #FF4500;
    font-size: 24px;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
    position: relative;
    top: -40px;
    margin-bottom: 0;
  }
  
  .counter-buttons {
    display: flex;
    align-items: center;
    gap: 20px; 
    justify-content: space-between;
  }
  
  .counter-button {
    width: 40px;
    height: 56px;
    cursor: pointer;
  }
  
  .decrement {
    background-color: #FF1100;
  }
  
  .increment {
    background-color: #1AFF00;
  }
  